.cuerpo_general{
    
    background-color: transparent;
    margin-top: 23px;
    display: flex;
    justify-content: center;
}
.cuerpo_general_interno{
    background-color: transparent;
    width: 75%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuerpomediointernogen{
    background-color: transparent;
    width: 100%;
    
    position: relative;
}
.cuerpo_general_hijo{
    background-color: transparent;
}
/*seleccionador palabras*/
.palabra-es{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.texto_sele{
    margin-left: 10px;
}
/*fin seleccionador palabras*/

/*icono pegado iz*/

/*fin icono pegado iz*/



/*contenedor imagenes*/
.images_con{
    padding: 15px;
    background-color: transparent;
    
}
.contenedor_images{
    background-color: transparent;
    width:40%;
    padding: 15px;
    padding-top: 85px;
    height: 500px;
}
.imagen__{
    background-color: transparent;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.titulo_images{
    background-color: transparent;
    text-align: center;
    width: 100%;
    height: 50px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}
.espacioyasabes{
    background-color: transparent;

}
.titulo_imagen_nom{
    font-size: 39pt;
    text-transform: uppercase;
    font-weight: bold;
}

/*fin contenedor imagenes*/


.button-container{
    background-color: transparent;
    grid: 50px;
    height: 350px;
    display:grid;
    justify-content:right;
    align-items: center;
    width:18%;
    
}




.padre__{
    display: flex;
    flex-direction: row;
    background-color:transparent;
    height: 500px;
}





/*parte video*/

.video-container{
    background-color: #E7D7C5;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 500px;
    width: 80%;
}
.letrascontainer{
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 500px;
    width: 98%;
}
.custom-video {
        display: block;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 10px;
        height: 400px;
        width: 95%; /* Adjust the width as needed */
        background-color: white;
}
.video_con{
    width: 90%;
    background-color: transparent;
}

.contendor_hijo_video{
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 500px;
}

.video-button{
    width: 70px;
    height: 70px;
    background-color: #E7D7C5;
    margin-left: 10px;
    
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.contendor_generalvideo{
    background-color: transparent;
    width: 55%;
    height: 550px;

    
}
.contendor_generalcompletar{
    background-color: transparent;
    width: 43%;
    height: 550px;

    
}
/* Asegúrate de que los estilos se apliquen al contenedor correcto */
/* Estilos generales para los íconos de video */
.iconovideo {
    width: 25px; /* Ajusta el tamaño si es necesario */
    height: 25px; /* Ajusta el tamaño si es necesario */
    fill: white; /* Color por defecto del ícono */
  }
  
  .active-icon {
    fill: #246D7D; /* Color cuando el ícono está activo (azul) */
  }

.imagen_servid{
    width: 93%;
    height: 92%;
    
}

/*botones video*/

.contenedorteclado{
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    
}
.logotecadoi{
    width: 45px;
    padding: 3px;
}
.boton_ver{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}
.botonverm{
    width: 100%;
    background-color: #38AEC7;
    padding: 5px;
    border-radius: 20px;
    outline: none;
    border: 1px solid transparent;
}
.iconowey{
    color: white;
}
.iconoizqui{
    width: 7%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imas{
    background-color: transparent;
    width: 100%;
}
.invisible-input {
    /* Hace el input completamente transparente */
    position: relative; /* Lo saca del flujo del documento */
    pointer-events: none; /* Evita que el input reciba eventos */
  }
  .invisible-input {
     /* Hace el input invisible pero sigue ocupando espacio */
     z-index: -1; /* Lo saca del flujo del documento */
  }
    
.letracompletar{
    background-color: red;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}

.teclado-virtual-input {
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
}
.Resultado{
    
    
    position: absolute;
    bottom:0;
}
.letraresul{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #38AEC7;
    padding: 15px;
    border-radius: 20px;
}

.final-results{
    position: absolute;
    width: 50%;
    padding: 55px;
    background-color: rgba(53, 50, 50, 0.874);
    z-index: 999;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.botonreini{
    padding: 15px;
    position: absolute;
    right:10px;
    border-radius: 10px;
    background-color:#246D7Ded;
    color: white;
    text-transform: uppercase;
    border: 1px solid #246D7Ded;
    
}


