/* src/components/Navbar.css */

nav {
    background-color: #f4f4f4; /* Cambia el color de fondo según sea necesario */
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    gap: 11px;
    flex-direction: row;
    list-style: none;
    margin: 0;
    justify-content: center;
    background-color: transparent;
    padding: 10px;
    font-size: 25px;
    color: white;
    font-weight: bold;
  }
  
  .navbar > li {
    margin: 0 10px;
    position: relative;
  }
  
  .navbar a {
    text-decoration: none;
    color: white; /* Cambia el color del texto según sea necesario */
    padding: 10px;
  }
  
  .navbar li:hover {
    color: white; /* Cambia el color del texto al pasar el mouse */
  }
  
  .dropdown {
    position: relative;
    background-color: #38AEC7;
    padding: 12px;
    border-radius: 25px;
    width: 155px;
    text-align: center;
    z-index: 999;
  }
  .alt{
    margin-top: 20px;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    height: 110px;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #246D7D; /* Cambia el color de fondo según sea necesario */
    list-style: none;
    padding: 0;
    z-index: -1;
     /* Añade un borde si es necesario */
  }
  
  .dropdown-menu li {
    margin: 0;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px;
    color: white; /* Cambia el color del texto según sea necesario */
  }
  
  .dropdown-menu a:hover {
    background-color: #38AEC7; /* Cambia el color de fondo al pasar el mouse */
    color: white;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown2:hover{
    border-end-end-radius: 0px;
    border-end-start-radius: 0px;
  }

  .dropdown:hover{
    background-color: #246D7D;
  }